body{
    background-color:white;
    width: 95%;
    height: 85%;

}
#myApresentation{
    position:fixed;
    width: 550px;
    height: 650px;
    user-select:text;
    
    
}

#myImage{
    width: 230px;
    height: 230px;
    float: left;
    margin: auto 5px;
    position: relative;
    align-self: center;
    top: 50px;
    left: 130px;
    border-radius: 50%;
    
}

#aboutMe{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: black;
    position: relative;
    left: -180px;
    top: 300px;
    width: 42em;

}

#namePortfolio{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:black ;
    position:absolute;
    font-size: 25px;
    top: 50px;
    left: 595px;
}

#nameProject{
    color: black;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-style: italic;
    position: relative;
    font-size: 20px;
    top: 65px;
    left: 590px;
    width: 35em;
}


#textTopic{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    position: relative;
    font-size: 15px;
    top: 65px;
    left: 590px;
    width: 46.5em;

}

#topic{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    position: relative;
    top: 65px;
    left: 590px;
    width: 41em;
    text-align: justify;
}

#myName{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: rgb(38, 124, 185);
    position: relative;
    top: 45px;
    left: 80px;
}

#grafico{
    width: 300px;
    height: 150px;
    position: relative;
    top: 80px;
    left: 590px;
    
}


#redesSociais{
    color: black;
    position: fixed;
    top: 365px;
    left: 180px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.zoomGraph img:hover {
    -webkit-transform: scale(1.7);
    -moz-transform: scale(1.7);
    -o-transform: scale(1.7);
    -ms-transform: scale(1.7);
    transform: scale(1.7);
    z-index:9999;
  }
a:visited {
    color: rgb(38, 124, 185);
}
a:link{
    color:rgb(38, 124, 185);
}
#mySkills{
    position: relative;
    left: 860px;
    top: 50px;
}

  #tags{
    border-radius: 25%;
    
}
#skills{
    position: relative;
    top:6px;
}
hr{
    width: 695px;
    position: relative;
    left: 300px;
    border-color: rgb(38, 124, 185);
    top: 40px;
}