body{
    background-color:white;
    width: 100%;
    height: 100%;

}
#cantoEsquerdo{
    position: fixed;
    width: 50%;
}

#title{
    color:rgb(38, 124, 185);;
    position: relative;
    top: 50px;
    left: 6%;
}

#fotoJoao{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    margin-top: 20%;
    margin-left: 60%;
}

#secaoFoto{
    width: 300px;
    height: 300px;

}

#secaoRedes{
    width: 180px;
    height: 50px;
    margin-left: 27%;
    margin-top: 2%;
    position: relative;
}


#secaoMinhaIntroducao{
    width: 500px;
    margin-left: 7%;
    text-align: justify;
}

#cantoDireito{
    margin-left: 50%;
    width: 45%;
    
}

#titleJobs{
    color:rgb(0, 0, 0);;
    position: relative;
    top: 50px;
    text-align: center;

}
#job{
    text-align: center;
}
#jobText{
    text-align: justify;
}

