body{
    background-color: rgb(13, 17, 23);
    width: 95%;
    height: 85%;

}
#myApresentation{
    position: fixed;
}

#myImage{
    width: 230px;
    height: 230px;
    float: left;
    margin: auto 5px;
    position: relative;
    top: 50px;
    left: 120px;
    border-radius: 50%;
    
}

#aboutMe{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: white;
    position: relative;
    left: -180px;
    top: 300px;
    width: 42em;

}

#namePortfolio{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:deepskyblue ;
    position: relative;
    font-size: 25px;
    top: 46px;
    left: 8px;
}

#nameProject{
    color: deepskyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
    position: relative;
    font-size: 20px;
    top: 65px;
    left: 590px;
    width: 35em;
}

#textTopic{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    position: relative;
    font-size: 15px;
    top: 65px;
    left: 590px;
    width: 46.5em;

}

#topic{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    position: relative;
    top: 65px;
    left: 590px;
    width: 30em;
}

#myName{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: white;
    position: relative;
    top: 45px;
    left: 50px;
}

#grafico{
    width: 300px;
    height: 150px;
    position: relative;
    top: 80px;
    left: 590px;
}

#redesSociais{
    color: white;
    position: relative;
    top: 380px;
    left: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.zoomGraph img:hover {
    -webkit-transform: scale(1.7);
    -moz-transform: scale(1.7);
    -o-transform: scale(1.7);
    -ms-transform: scale(1.7);
    transform: scale(1.7);
  }

